@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: #2c3e50;
}

body {
  font-family: "Courier New", Courier, monospace;
  color: #ecf0f1;
}

body p {
  @apply text-base sm:text-lg md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl;
}

body h1 {
  font-family: "Reddit Mono", monospace;
}
